@model IEnumerable<Agenda_Web.Models.Usuario>
@{
    ViewData["Title"] = "Inicio";
}

<h1 class="text-center">Agenda Telefónica</h1>
    <div class="row">
        <div class="col-12">
            <div class="float-right">
                <a asp-action ="Crear" asp-controller="Home" class="btn btn-success">Nuevo Contacto</a>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Contactos</strong></h3>
            </div>
             <div class="card-body">
                <div class="table-responsive">
                    @if(Model.Count() > 0){
                        <table class="table table-bordered" id="tblUusario" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                                    <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                                    <th>@Html.DisplayNameFor(m => m.Apellido)</th>
                                    <th>@Html.DisplayNameFor(m => m.cedula)</th>
                                    <th>@Html.DisplayNameFor(m => m.telefono)</th>
                                    <th>@Html.DisplayNameFor(m => m.email)</th>
                                    <th>@Html.DisplayNameFor(m => m.direccion)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model){
                                    <tr>
                                        <td>@Html.DisplayFor(m => item.Id)</td>
                                        <td>@Html.DisplayFor(m => item.Nombre)</td>
                                        <td>@Html.DisplayFor(m => item.Apellido)</td>
                                        <td>@Html.DisplayFor(m => item.cedula)</td>
                                        <td>@Html.DisplayFor(m => item.telefono)</td>
                                        <td>@Html.DisplayFor(m => item.email)</td>
                                        <td>@Html.DisplayFor(m => item.direccion)</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="Editar" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i> Editar</a>
                                            <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@item.Id"><i class="bi bi-eraser-fill"></i> Borrar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }else{

                    }
                </div>
            </div>
        </div>
    </div>
</div>